---
---

<header>
  <!-- Logo -->
  <h1>Logo</h1>

</header>


<script is:inline>
    function world() {
      console.log("welcome to the world");
    }

    function test() {
      console.log(`Test message is..`);
    }
</script>