---
   import type { world, test } from './common';
---

<header>
  <button onclick="world()">
    World function
  </button>

  <!-- Test function -->
  <button onclick="test(check console)">
    test function
  </button>

</header>


<!-- <script>
    import './common.js';
</script> -->